.header {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;

}


img {
    width: 100px;
    float: left;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}